body{
    background-color: black;
    color:white;
    overflow-x: hidden;
}

h1{
    padding:20px;
}
.container{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height:400px;
    overflow-y: scroll;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap:10px;
}
.container::-webkit-scrollbar{
    display: none;
}
.logo_holder{
    width:200px;
    height:100px;
    border-radius: 10px;
}
footer{
    float: right;
    padding:10px;
}
.sideRightNav{
    width: 5px;
    position: absolute;
    top:15px;
    right:50px;
}